Package: com.rustii.ufctvfull
Name: ufctvfull
Depends: firmware (>= 7.0), mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Rustii <christophersmall2013@gmail.com>
Author: Rustii <christophersmall2013@gmail.com>
Section: Apps
Version: 0.0.1-1
Installed-Size: 88
