<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Seconds To None</string>
		</dict>
        <dict>
            <key>cell</key>             <string>PSSwitchCell</string>
            <key>default</key>          <true/>
            <key>defaults</key>         <string>com.Rustii.secondstonone~prefs</string>
            <key>key</key>              <string>STNEnabled</string>
            <key>label</key>            <string>Enabled</string>
            <key>PostNotification</key> <string>com.Rustii.secondstonone~prefs/settingschanged</string>
        </dict>
        <dict>
		<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Removes the second(little red one)hand from the live clock</string>
		</dict>
	</array>
	<key>title</key>
	<string>secondstonone</string>
</dict>
</plist>
