Package: com.Rustii.movieboxfull
Name: MovieBoxFull
Depends: firmware (>= 7.0), mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Moviebox3 features fully unlocked. Enjoy
Maintainer: Rustii <christophersmall2013@gmail.com>
Author: Rustii <christophersmall2013@gmail.com>
Section: Apps
